<?php

// An example of conf.php

$conf = array(

    // PDO DSN, username, password
    'DSN' => 'mysql:dbname=yutar',
    'DBUSER' => 'yutar',
    'DBPASS' => 'yutar',

    // Session encoding; shuffle the text!
    'CODED' => '0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz-._',

);

