form {
	margin: 0 auto;
	width: 350px;
}

dl input {
	width: 20em;
}

dl textarea {
	width: 20em;
}

dl {
	margin: 0;
	line-height: 2;
}

dt {
	float: left;
	width: 5em;
	text-align: right;
}

dd {
	margin: 0 0 0.5em 6em;
}

form p {
	margin: 0 0 0 6em;
}
