form {
	width: 17em;
	margin: 0 auto;
}

h3 {
	margin: 100px 0 1.5em 4em;
	color: #c09;
}

p {
	margin-left: 4em;
	margin-bottom: 1em;
}

dl {
	line-height: 2;
}

dt {
	float: left;
	width: 3.5em;
	text-align: right;
}

dd {
	margin-left: 4em;
	margin-bottom: 1em;
}

dl input {
	font-weight: bolder;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 150%;
	width: 7em;
}
