<h2>이모티콘</h2>

<form method=post enctype=multipart/form-data>
<p><input type=file name=emoticon><input type=submit value="올리기"></p>
</form>

<ul class=emoticons>
<% @emoticons.each do |name| %>
<li><a href="<%= u('emo', name) %>"><%= h(name) %></a>
<% end %>
</ul>
