<% unless session? %>
<form name=login action="<%= u('gateway') %>" method=post class=login><p>
<label><span>아이디</span> <input type=text name=userid autofocus placeholder="아이디" autocorrect=off autocapitalize=off></label>
<label><span>암호</span> <input type=password name=passwd placeholder="암호"></label>
<input type="submit" value="로그인&raquo;">
<label><input type=checkbox name=keeplogin>로그인 유지</label>
</p></form>
<% end %>

<h2>공지사항</h2>

<% if @notice %>
<div class=thread>
<h3><%= h @notice[:subject] %></h3>
<div class=article><p><%= formattext @notice[:message] %></p></div>
</div>
<% end %>
