p.notice {
	margin-bottom: 1em;
	text-align: center;
}

ul.emoticons {
	margin: 1em 0;
	text-align: center;
	line-height: 1.5;
}

ul.emoticons span {
	display: none;
	position: absolute;
	left: 0;
	width: 100%;
	margin-top: 1.9em;
	text-align: center;
}

ul.emoticons img {
	border: 1px solid #666;	
}

ul.emoticons a:active span,
ul.emoticons a:hover span {
	display: block;
}

ul.emoticons li:hover a.delete,
* html ul.emoticons a.delete {
	color: #f00;
	font-weight: bolder;
}

form {
	width: 26em;
	line-height: 1.5;	
}

form p.submit {
	text-align: right;
	margin-top: -1.5em;
}
