@charset 'utf-8';

* {
	list-style: none;
	margin: 0 auto;
	padding: 0;
	
}

html {
	background: #ccc;
}

body {
	overflow: visible;
	margin: 10px auto;
	width: 800px;
	border: 1px solid #999;
	border-top: 0;
	-moz-border-radius: 12px;
	background: white;
	color: #666;
	font: 75% '맑은 고딕', 돋움, Dotum, Tahoma, sans-serif;

/*	filter:gray(enabled=1);*/
}

* html body {
	font: 75% 돋움, Dotum, Tahoma, sans-serif;
}

input, textarea, button, select {
	font: 100% '맑은 고딕', 돋움, Dotum, Tahoma, sans-serif;
}

textarea {
	overflow: auto;
}

* html input,
* html textarea,
* html button,
* html select {
	vertical-align: middle;
	font: 100% 돋움, Dotum, Tahoma, sans-serif;
}

img {
	vertical-align: middle;
}

em {
	font-style: normal;
	color: #f30;
}

sup {
	font-family: Tahoma, Arial, sans-serif;
}

small.year {
	font: 92% Tahoma, Arial, sans-serif;
}

hr {
	margin: 1em 0;
}

.created {
	font-size: 92%;
}

a {
	color: rgb(162,26,53);
	color: #224f9a;
	text-decoration: none;
}

a:focus, a:active, a:hover {
	background-color: rgb(162,26,53);
	background-color: #224f9a;
	color: #fff;
}

* html input {
	behavior: url(/~holies/css/input.htc);
}

textarea {
	line-height: 1.6;
	padding: 2px;
	text-align: justify;
}

table {
	border-collapse: collapse;
	border-bottom: solid 1px #ccc;
}

caption {
	margin-bottom: 1em;
	font-weight: bolder;
}

tr.a {
	background: #f4eef0;
	background: #eeeef4;
}

th, td {
	line-height: 1.5;
	padding: 0.3em;
}

thead td {
/*	font-weight: bolder;*/
	color: #333;
	background: rgb(230,206,213);
	background: #bcd;
	border-bottom: 1px solid #cab;
	border-bottom: 1px solid #abc;
	
}

h1 {
	background: rgb(162,26,53);
	background: #224f9a;
}

h1 a {
	overflow: hidden;
	display: block;
	width: 800px;
	height: 50px;
	text-indent: -99in;
	/*
	background: rgb(162,26,53) url(../img/h1-fool.png) no-repeat;
	background: rgb(0,0,0) url(../img/h1-condolence.png) no-repeat;
	*/
	background: #224f9a url(../img/h1.png) no-repeat;
}

h2 {
	overflow: hidden;
	/*height: 32px;*/
	background: no-repeat;
	margin-bottom: -14px;
	color: #ccc;
	font-weight: bolder;
	font-size: 32px;
	line-height: normal;
}

h3 {
	font-size: 100%;
	color: #333;
}

div.user {
	float: right;
	padding: 8px 12px 0;
	font-weight: bolder;
	font-size: 92%;
}

div.user p {
	display: none;
}

div.user li {
	display: inline;
}

div.user form {
	display: inline;
}

div.user input {
	font-size: 86%;
}

div.menu {
	padding: 4px 0 4px 12px;
	color: #999;
	white-space: nowrap;
}

div.menu p {
	display: none;
}

div.menu em {
	font-weight: bolder;
}

div.menu ol {
	float: left;
}

div.menu ul {
	zoom: 1;
	margin: 0;
	overflow: hidden;
}

div.menu li {
	float: left;
}

div.menu ul a {
	color: rgb(200,136,153);
	color: #79c;
}

div.menu a {
	display: block;
	padding: 4px;
	font-weight: bolder;
}

div.container {
	margin: 0 12px;
	min-height: 480px;
}

* html div.container {
	height: 480px;
}

address {
	font-style: normal;
	font-size: 92%;
	text-align: right;
	margin: 1em 12px -1.8em;
	padding: 0.4em 0;
	line-height: 1;
}

div.text p {
	margin: 0;
	padding: 0.6em 0;
	line-height: 1.6;
	text-align: justify;
}

/*
div.pages {
	margin-left: auto;
	width: 7em;
	font-size: 92%;
}

div.pages p {
	position: absolute;
	width: 6.5em;
	margin-top: 1em;
	text-align: right;
	color: #999;
}

div.pages ol {
	position: absolute;
	list-style: none;
	width: 7em;
	margin: 2.5em 0 0;
	text-align: right;
	white-space: nowrap;
}

div.pages li {
	display: inline;
}

div.pages ol a {
	zoom: 1;
	display: block;
	padding: 0.3em 0.5em;
}
*/
